@model Product


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        fsdfdsfdsf
    </title>
</head>
<body>
    <div>
        name = @Model.Name;
        category = @Model.Category;
        quantity = @Model.Quantity;
        cost = @Model.Value;
    </div>


</body>
</html>