@*@model MagazineManagement.Models.Product*@
@model MagazineManagement.ViewModels.HomeProdDetailsViewModel
 



    <div>
        name = @Model.Product.Name;
        category = @Model.Product.Category;
        quantity = @Model.Product.Quantity;
        cost = @Model.Product.Value;
    </div>

